# Database connection string for PostgreSQL
# Copy this file to .env and update the values if needed
DATABASE_URL="postgresql://prisma_user:prisma_password@localhost:5432/prisma_learn_db?schema=public"

# NestJS Port
PORT=3000

